# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Docker output
out/*
buildLog

# Testing files
*test.cc
*test.hh
*test.tt
comp
aclocal.m4
ar-lib
autom4te.cache/*
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
Makefile.in
Makefile
missing
config.h
config.log
config.status
stamp-h1
config.h.in~
autoscan.log
bin/CMF
bin/JROFI
configure~
dou-geometry-cpp-library-*.tar.gz
*.Po
*.Tpo
bin/*
*/.deps/*
.dirstamp
*.sage
