# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Docker output
out/*
buildLog

# Testing files
test*
comp
aclocal.m4
ar-lib
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/output.3
autom4te.cache/output.4
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
autom4te.cache/traces.3
autom4te.cache/traces.4
compile
config.guess
config.h.in
config.sub
configure
depcomp
include/boxCounting/Makefile.in
include/cls/Makefile.in
include/conn/bash/Makefile.in
include/conn/Makefile.in
include/conn/sage/Makefile.in
include/Makefile.in
include/numerical/Makefile.in
install-sh
lib/boxCounting/Makefile.in
lib/conn/bash/Makefile.in
lib/conn/Makefile.in
lib/conn/sage/Makefile.in
lib/Makefile.in
lib/numerical/Makefile.in
Makefile.in
missing
src/Makefile.in
